<header class="header">
  <div class="header-container">
    <h1>Certificati Rapidi</h1>
    <nav class="header-nav">
      @if(router.url !== '/form' && user()) {
      <a (click)="navigateTo('/form')" class="nav-link"
        >Generatore di certificati</a
      >
      } @if (router.url !== '/chi-siamo') {
      <a (click)="navigateTo('/chi-siamo')" class="nav-link">Chi Siamo</a>
      } @if(!user()) {
      <button class="btn btn-primary" (click)="navigateTo('/auth')">
        Login
      </button>
      } @else{
      <button class="btn btn-primary" (click)="logout()">Logout</button>
      }
    </nav>
  </div>
</header>
