<footer class="mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        &copy; 2025 CertificatiRapidi di Antonino Tripodi. Tutti i diritti
        riservati.
      </div>
      <div class="col-md-6 text-center text-md-end">
        <a href="/home" class="btn-view me-2">Chi siamo</a>
        <!-- <a href="/home" class="btn-view me-2">Privacy</a>
        <a href="#" class="btn-view me-2">Termini</a>
        <a href="#" class="btn-view">Contatti</a> -->
      </div>
    </div>
  </div>
</footer>
